In [3]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [4]:
df = pd.read_csv("forestfires.csv")
df.sample(5)

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
341  8  6   sep  mon  91.9  111.7  770.3   6.5  15.7  51   2.2   0.0  0.00
240  6  3   apr  wed  88.0   17.2   43.5   3.8  15.2  51   2.7   0.0  0.00
402  9  9   aug  fri  94.8  227.0  706.7  12.0  25.0  36   4.0   0.0  0.00
403  8  6   aug  thu  90.7  194.1  643.0   6.8  21.3  41   3.6   0.0  0.00
155  7  4   aug  sun  94.8  108.3  647.1  17.0  16.4  47   1.3   0.0  1.56

In [7]:
label_encoder = LabelEncoder()
df["Numneric_month"] = label_encoder.fit_transform(df["month"])
df["Numneric_day"] = label_encoder.fit_transform(df["day"])
df.sample(5)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,Numneric_month,Numneric_day
171,8,6,aug,wed,85.6,90.4,609.6,6.6,17.4,50,4.0,0.0,2.69,1,5
267,2,2,aug,tue,92.1,152.6,658.2,14.3,23.7,24,3.1,0.0,0.00,1,4
483,8,6,aug,sun,94.9,130.3,587.1,14.1,31.0,27,5.4,0.0,0.00,1,2
414,5,4,aug,sun,93.6,235.1,723.1,10.1,24.1,50,4.0,0.0,0.00,1,2
189,7,4,mar,sun,90.7,44.0,92.4,5.5,11.5,60,4.0,0.0,8.24,7,2

In [8]:
df.to_csv('encoded_dataset.csv', index=False)