In [4]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [48]:
df = pd.read_csv('house-prices.csv')

print(df.head())

   Home  Sq-ft  Bedrooms  Bathrooms  Offers Brick Neighbourhood   Price
0     1   1790         2          2       2    No          East  114300
1     2   2030         4          2       3    No          East  114200
2     3   1740         3          2       1    No          East  114800
3     4   1980         3          2       3    No          East   94700
4     5   2130         3          3       3    No          East  119800

In [49]:
input = df.drop('Price', axis=1)

In [50]:
print(input.head())

   Home  Sq-ft  Bedrooms  Bathrooms  Offers Brick Neighbourhood
0     1   1790         2          2       2    No          East
1     2   2030         4          2       3    No          East
2     3   1740         3          2       1    No          East
3     4   1980         3          2       3    No          East
4     5   2130         3          3       3    No          East

In [51]:
input.pop('Home')

0        1
1        2
2        3
3        4
4        5
      ...
123    124
124    125
125    126
126    127
127    128
Name: Home, Length: 128, dtype: int64

In [52]:
print(input.head())

   Sq-ft  Bedrooms  Bathrooms  Offers Brick Neighbourhood
0   1790         2          2       2    No          East
1   2030         4          2       3    No          East
2   1740         3          2       1    No          East
3   1980         3          2       3    No          East
4   2130         3          3       3    No          East

In [53]:
target = df['Price']

In [54]:
print(target)

0      114300
1      114200
2      114800
3       94700
4      119800
        ...
123    119700
124    147900
125    113500
126    149900
127    124600
Name: Price, Length: 128, dtype: int64

In [55]:
le_brick = LabelEncoder()
le_neighbourhood = LabelEncoder()

In [56]:
input['Brick'] = le_brick.fit_transform(input['Brick'])
input['Neighbourhood'] = le_neighbourhood.fit_transform(input['Neighbourhood'])

In [57]:
print(input.head(60))

    Sq-ft  Bedrooms  Bathrooms  Offers  Brick  Neighbourhood
0    1790         2          2       2      0              0
1    2030         4          2       3      0              0
2    1740         3          2       1      0              0
3    1980         3          2       3      0              0
4    2130         3          3       3      0              0
5    1780         3          2       2      0              1
6    1830         3          3       3      1              2
7    2160         4          2       2      0              2
8    2110         4          2       3      0              0
9    1730         3          3       3      0              0
10   2030         3          2       3      1              0
11   1870         2          2       2      1              0
12   1910         3          2       4      0              1
13   2150         3          3       5      1              1
14   2590         4          3       4      0              2
15   1780         4          2       1      0              2
16   2190         3          3       4      1              0
17   1990         3          3       4      0              1
18   1700         2          2       1      1              0
19   1920         3          3       2      1              2
20   1790         3          2       3      0              0
21   2000         3          2       4      0              1
22   1690         3          2       3      0              1
23   1820         3          2       3      1              1
24   2210         4          3       2      1              0
25   2290         4          3       3      0              1
26   2000         4          2       3      0              2
27   1700         3          2       2      0              0
28   1600         2          2       3      0              1
29   2040         4          3       1      1              2
30   2250         4          3       3      1              2
31   1930         2          2       2      1              1
32   2250         3          3       3      1              0
33   2280         5          3       4      1              0
34   2000         2          2       3      0              1
35   2080         3          3       3      0              1
36   1880         2          2       2      0              1
37   2420         4          3       4      0              2
38   1720         3          2       1      0              2
39   1740         3          2       2      0              1
40   1560         2          2       1      0              0
41   1840         4          3       2      0              2
42   1990         2          2       3      0              0
43   1920         3          2       1      1              0
44   1940         3          3       2      1              2
45   1810         3          2       3      0              0
46   1990         2          3       2      0              1
47   2050         3          2       6      0              1
48   1980         2          2       2      0              0
49   1700         3          2       3      1              1
50   2100         3          2       3      1              0
51   1860         2          2       3      0              1
52   2150         2          3       4      0              1
53   2100         3          2       3      0              1
54   1650         3          2       3      0              1
55   1720         2          2       2      1              0
56   2190         3          2       3      1              0
57   2240         4          3       3      0              2
58   1840         3          3       1      0              2
59   2090         4          2       1      0              2

In [58]:
model = LinearRegression()

In [67]:
model.fit(input.values,target)

LinearRegression()

In [70]:
prediction = model.predict([[2090,5,2,2,0,0]])
print("Predicted House Price : ",prediction[0])

Predicted House Price :  135288.4480452567